*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto";
    line-height: 1.5;
    font-size: 1.6rem;
}

h1 {
    margin-bottom: 2rem;
    line-height: 1.1;
    font-size: 4rem;
    color: $dark-slate-grey;
}

p {
    margin-top: 0;
    color: $dark-slate-grey;
}

.container {
    background-color: $charcoal-grey;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
}

.attribution {
    display: none;
    visibility: hidden;
    clear: both;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;

    a {
        text-decoration: none;
        color: $tomato;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 5.5rem;
    }

    .container {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
