.form {
    margin-top: 2rem;

    label {
        font-weight: 700;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .input-email {
        padding: 2rem;
        width: 100%;
        border-radius: 0.8rem;
        color: $dark-slate-grey;
        margin-top: 0.5rem;
        outline: none;
        border: 1.5px solid $grey;

        &::placeholder {
            color: $grey;
            opacity: 0.8;
        }

        &:focus {
            border-color: $dark-slate-grey;
        }
    }
}
