ul {
    padding-left: 0;
    margin-top: 2rem;

    li {
        display: flex;
        align-items: start;
        margin-top: 1rem;
    }

    li::before {
        content: url("../../assets/images/icon-list.svg");
        margin-right: 1.5rem;
    }
}
