// Primary
$tomato: hsl(4, 100%, 67%);
$tomato-dark: hsl(354, 100%, 67%);

$tomato-50: hsla(4, 100%, 67%, 0.5);
$tomato-20: hsla(4, 100%, 67%, 0.2);

// Neutral
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
