.card-signup__image {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .card-signup {
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 90rem;
        padding: 2rem;
    }

    .card-signup__body {
        padding: 0 4rem;
    }
}
